<!DOCTYPE>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="admin/layout :: head"></th:block>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <th:block th:replace="admin/layout :: navbar"></th:block>
    <th:block th:replace="admin/layout :: sidebar"></th:block>

    <div class="content-wrapper">
        <section class="content" style="margin-top: 15px">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <b>Thống kê</b>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <script src="https://www.gstatic.com/charts/loader.js"></script>
                                    <script type="text/javascript">
                                        google.charts.load('current', {
                                            'packages': ['corechart']
                                        });
                                        google.charts.setOnLoadCallback(function() {
<!--                                            drawChart([[${salesStatistics}]], 'Doanh thu theo tháng (VND)', 'salesStatisticsChart', 'LineChart');-->
                                            drawChart([[${soldQuantityStatistics}]], 'Sản phẩm bán chạy', 'soldQuantityStatisticsChart', 'ColumnChart');
                                            drawChart([[${paymentMethodStatistics}]], 'Phương thức thanh toán', 'paymentMethodStatisticsChart', 'PieChart');
                                        });

                                        function drawChart(chartData, title, chartId, typeChart = 'ColumnChart') {
                                            var data = google.visualization.arrayToDataTable(chartData);

                                            var options = {
                                                title: title,
                                                curveType: 'function',
                                                legend: {
                                                    position: 'bottom'
                                                }
                                            };

                                            var chart = new google.visualization[typeChart](document.getElementById(chartId));
                                            chart.draw(data, options);
                                        }
                                    </script>
<!--                                    <div id="salesStatisticsChart"></div>-->
                                    <div id="soldQuantityStatisticsChart"></div>
                                    <div id="paymentMethodStatisticsChart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </div>

    <th:block th:replace="admin/layout :: footer"></th:block>

</div>
</body>
</html>