<!DOCTYPE html>
<html class="no-js supports-no-cookies mini2" lang="vi" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>BÀI VIẾT | UniDecor - Thiết kế không gian sống của bạn với nội thất chất lượng cao</title>
    <th:block th:replace="layout/layout_user :: head-common"></th:block>
</head>

<body id="unidecor-template" class="template-index">
<div id="shopify-section-header" class="shopify-section" th:replace="layout/layout_user :: menu-common"></div>
<main role="main">
    <div id="shopify-section-template--15088631414923__blog-template" class="shopify-section">
        <section class="blog-content-wrap section-ptb">
            <div class="container">
                <div class="row ">
                    <div class="col">
                        <ul class="single-blog-area">

                            <li class="blog-slider">
                                <div class="blog-post banner-hover">
                                    <div class="blog-main-img">
                                        <a href="/blogs/news/nisi-ut-aliquid-ex-ea-commodi" class="blog-img banner-img">
                                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0584/0909/1211/articles/blog-1_f7303642-7746-4ec0-a7a0-ca993eb46895_720x435_crop_center.jpg?v=1651295502" alt="Nisi ut aliquid ex ea commodi?" />

                                            <span class="date-time-comment">
                                                    <span class="date-time">
                                                        <span class="date">28</span>
                                                        <span class="time">Apr</span>
                                                        <span class="year">2022</span>
                                                    </span>

                                                    <span class="comment">
                                                        <span class="comment-count">1 comment</span>
                                                    </span>

                                                </span>
                                        </a>
                                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>

                                    </div>
                                    <div class="blog-post-content">
                                        <h2 class="blog-title">
                                            <a href="/blogs/news/nisi-ut-aliquid-ex-ea-commodi">Nisi ut aliquid ex ea commodi?</a>
                                        </h2>

                                        <a href="/blogs/news/nisi-ut-aliquid-ex-ea-commodi" class="read-link" aria-label="Read more: Nisi ut aliquid ex ea commodi?">
                                            <span>Read more</span>
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>

                                        <div class="blog-author">
                                            <span class="author">By Spacing Tech</span>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="blog-slider">
                                <div class="blog-post banner-hover">



                                    <div class="blog-main-img">
                                        <a href="/blogs/news/wel-illum-qui-dolorem-eum-fugiat" class="blog-img banner-img">
                                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0584/0909/1211/articles/blog-2_6efb208d-298d-4b6b-9216-b0e2de9bb175_720x435_crop_center.jpg?v=1651295536" alt="Wel illum qui dolorem eum fugiat?" />

                                            <span class="date-time-comment">
                                                    <span class="date-time">
                                                        <span class="date">28</span>
                                                        <span class="time">Apr</span>
                                                        <span class="year">2022</span>
                                                    </span>

                                                    <span class="comment">
                                                        <span class="comment-count">2 comments</span>
                                                    </span>

                                                </span>
                                        </a>
                                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                    </div>
                                    <div class="blog-post-content">
                                        <h2 class="blog-title">
                                            <a href="/blogs/news/wel-illum-qui-dolorem-eum-fugiat">Wel illum qui dolorem eum fugiat?</a>
                                        </h2>

                                        <a href="/blogs/news/wel-illum-qui-dolorem-eum-fugiat" class="read-link" aria-label="Read more: Wel illum qui dolorem eum fugiat?">
                                            <span>Read more</span>
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>

                                        <div class="blog-author">
                                            <span class="author">By Spacing Tech</span>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="blog-slider">
                                <div class="blog-post banner-hover">



                                    <div class="blog-main-img">
                                        <a href="/blogs/news/which-of-us-ever-undertakes" class="blog-img banner-img">
                                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0584/0909/1211/articles/blog-3_720x435_crop_center.jpg?v=1651295645" alt="Which of us ever undertakes?" />

                                            <span class="date-time-comment">
                                                    <span class="date-time">
                                                        <span class="date">28</span>
                                                        <span class="time">Apr</span>
                                                        <span class="year">2022</span>
                                                    </span>

                                                    <span class="comment">
                                                        <span class="comment-count">2 comments</span>
                                                    </span>

                                                </span>
                                        </a>
                                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                    </div>
                                    <div class="blog-post-content">
                                        <h2 class="blog-title">
                                            <a href="/blogs/news/which-of-us-ever-undertakes">Which of us ever undertakes?</a>
                                        </h2>

                                        <a href="/blogs/news/which-of-us-ever-undertakes" class="read-link" aria-label="Read more: Which of us ever undertakes?">
                                            <span>Read more</span>
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>

                                        <div class="blog-author">
                                            <span class="author">By Spacing Tech</span>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="blog-slider">
                                <div class="blog-post banner-hover">



                                    <div class="blog-main-img">
                                        <a href="/blogs/news/who-avoids-a-pain-that-produces" class="blog-img banner-img">
                                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0584/0909/1211/articles/blog-4_720x435_crop_center.jpg?v=1651295704" alt="Who avoids a pain that produces?" />

                                            <span class="date-time-comment">
                                                    <span class="date-time">
                                                        <span class="date">28</span>
                                                        <span class="time">Apr</span>
                                                        <span class="year">2022</span>
                                                    </span>

                                                    <span class="comment">
                                                        <span class="comment-count">2 comments</span>
                                                    </span>

                                                </span>
                                        </a>
                                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                    </div>
                                    <div class="blog-post-content">
                                        <h2 class="blog-title">
                                            <a href="/blogs/news/who-avoids-a-pain-that-produces">Who avoids a pain that produces?</a>
                                        </h2>

                                        <a href="/blogs/news/who-avoids-a-pain-that-produces" class="read-link" aria-label="Read more: Who avoids a pain that produces?">
                                            <span>Read more</span>
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>

                                        <div class="blog-author">
                                            <span class="author">By Spacing Tech</span>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="blog-slider">
                                <div class="blog-post banner-hover">



                                    <div class="blog-main-img">
                                        <a href="/blogs/news/where-can-i-get-some" class="blog-img banner-img">
                                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0584/0909/1211/articles/blog-5_720x435_crop_center.jpg?v=1651295746" alt="Where can I get some?" />

                                            <span class="date-time-comment">
                                                    <span class="date-time">
                                                        <span class="date">28</span>
                                                        <span class="time">Apr</span>
                                                        <span class="year">2022</span>
                                                    </span>

                                                    <span class="comment">
                                                        <span class="comment-count">1 comment</span>
                                                    </span>

                                                </span>
                                        </a>
                                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                    </div>
                                    <div class="blog-post-content">
                                        <h2 class="blog-title">
                                            <a href="/blogs/news/where-can-i-get-some">Where can I get some?</a>
                                        </h2>

                                        <a href="/blogs/news/where-can-i-get-some" class="read-link" aria-label="Read more: Where can I get some?">
                                            <span>Read more</span>
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>

                                        <div class="blog-author">
                                            <span class="author">By Spacing Tech</span>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="blog-slider">
                                <div class="blog-post banner-hover">



                                    <div class="blog-main-img">
                                        <a href="/blogs/news/where-does-it-come-from" class="blog-img banner-img">
                                            <img class="img-fluid" src="//cdn.shopify.com/s/files/1/0584/0909/1211/articles/blog-6_720x435_crop_center.jpg?v=1651295813" alt="Where does it come from?" />

                                            <span class="date-time-comment">
                                                    <span class="date-time">
                                                        <span class="date">28</span>
                                                        <span class="time">Apr</span>
                                                        <span class="year">2022</span>
                                                    </span>

                                                    <span class="comment">
                                                        <span class="comment-count">2 comments</span>
                                                    </span>

                                                </span>
                                        </a>
                                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                    </div>
                                    <div class="blog-post-content">
                                        <h2 class="blog-title">
                                            <a href="/blogs/news/where-does-it-come-from">Where does it come from?</a>
                                        </h2>

                                        <a href="/blogs/news/where-does-it-come-from" class="read-link" aria-label="Read more: Where does it come from?">
                                            <span>Read more</span>
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>

                                        <div class="blog-author">
                                            <span class="author">By Spacing Tech</span>
                                        </div>
                                    </div>

                                </div>
                            </li>

                        </ul>
                        <div class="paginatoin-area">
                            <ul class="paginate">

                                <li class="page-numerous">
                                    <p>
                                        Showing
                                        1 - 6
                                        of
                                        8
                                        result
                                    </p>
                                </li>


                                <li class="page-numerous">
                                    <ul class="pagination-box">




                                        <li class="number active">
                                            <a href="javascript:void(0)">1</a>
                                        </li>




                                        <li class="number">
                                            <a href="/blogs/news?page=2" title="2">2</a>
                                        </li>



                                        <li class="next np-icon">
                                            <a href="/blogs/news?page=2" class="next" aria-label="Next" title="Next &raquo;">
                                                <i class="bi bi-chevron-double-right"></i>
                                            </a>
                                        </li>

                                    </ul>

                                    <script>
                                            $(".theme-default-pagination .disabled a").removeAttr("href");
                                            $(".theme-default-pagination li.active a").removeAttr("href");
                                        </script>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <style>
            .blog-content-wrap .left-wrap {
                flex-direction: row-reverse;
            }

            @media (max-width : 991px) {

                .blog-content-wrap .left-wrap,
                .blog-content-wrap .right-wrap {
                    flex-direction: column-reverse;
                }

                .blog-content-wrap .blog-grid-wrap {
                    margin-top: 30px;
                }

                .blog-content-wrap .blog-grid-wrap:last-child {
                    margin-top: 0px;
                }
            }

            /* blog css */
            .blog-content-wrap ul.single-blog-area {
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                margin: -30px 0 0 -30px;

            }

            .blog-content-wrap ul.single-blog-area li {

                width: calc(33.33% - 30px);


                margin: 30px 0 0 30px;

            }

            @media (max-width : 1199px) {
                .blog-content-wrap ul.single-blog-area li {

                    width: calc(50% - 30px);

                }
            }

            @media (max-width : 991px) {
                .blog-content-wrap ul.single-blog-area li {
                    width: calc(100% - 30px);
                }
            }

            @media (max-width : 767px) {
                .blog-content-wrap ul.single-blog-area {

                    margin: -30px 0 0 -15px;

                }

                .blog-content-wrap ul.single-blog-area li {
                    width: calc(100% - 15px);
                    margin: 30px 0 0 15px;
                }
            }
        </style>
    </div>
</main>
<div id="shopify-section-footer" class="shopify-section" th:replace="layout/layout_user :: footer-common"></div>
</body>
</html>