<!DOCTYPE>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="admin/layout :: head"></th:block>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <th:block th:replace="admin/layout :: navbar"></th:block>
    <th:block th:replace="admin/layout :: sidebar"></th:block>

    <div class="content-wrapper">
        <section class="content" style="margin-top: 15px">
            <div class="container-fluid">
                <!--                @include('admin.alerts')-->
                <!--                @yield('content')-->
                <!--                <div th:insert="~{::${content}}"></div>-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fa fa-plus-circle"></i> THÊM SẢN PHẨM
                                </h3>
                            </div>
                            <form th:action="@{/admin/products/add}" th:object="${product}" method="POST" enctype="multipart/form-data">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Tên sản phẩm</label>
                                        <input required type="text" class="form-control" id="name" name="name" th:field="*{name}">
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        <textarea class="form-control" id="description" name="description" th:field="*{description}"></textarea>
                                    </div>
<!--                                    <div class="form-group">-->
<!--                                        <label>Hình ảnh</label>-->
<!--                                        <input type="file" class="form-control" id="image" name="image">-->
<!--                                    </div>-->
                                    <div class="form-group">
                                        <label for="image">Hình ảnh</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="image" name="image"
                                                   placeholder="">
                                            <div class="input-group-append">
                                                <label class="input-group-text btn btn-primary"
                                                       for="image_file" id="uploadBtn">Chọn file</label>
                                                <input  type="file" class="form-control-file d-none"
                                                       id="image_file" name="image_file">
                                            </div>
                                        </div>
                                        <img id="previewImg" class="img-fluid" alt="" style="width:100px">
                                    </div>
                                    <div class="form-group">
                                        <label>Danh mục</label>
                                        <select required class="form-control" id="category" name="category" th:field="*{category}" >
                                            <option value="0">Chọn danh mục</option>
                                            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                        </select>
                                    </div>

                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <th:block th:replace="admin/layout :: footer"></th:block>

</div>
<script type="text/javascript">
 function uploadImage(id) {
            let image = $('#image_file_'+id+'').prop('files')[0];
            let formData = new FormData();
            formData.append('image', image);

            $.ajax({
                url: '/upload',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                success: function(data) {
                    if(data.path){
                        $('#image_'+id+'').val(data.path);
                        $('#previewImg_'+id+'').attr('src', data.path);
                        $('#previewImg_'+id+'').show();
                    }else{
                        $('#image_'+id+'').val('');
                        $('#previewImg_'+id+'').attr('src', '');
                        $('#previewImg_'+id+'').hide();
                    }

                }
            });
        }


        $('#image_file').on('change', function() {
            let image = $('#image_file').prop('files')[0];
            let formData = new FormData();
            formData.append('image', image);

            $.ajax({
                url: '/upload',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                success: function(data) {
                console.log("SUCCSS");
                    data = JSON.parse(data);
                    if(data['path']){
                        $('#image').val(data.path);
                        $('#previewImg').attr('src', data.path);
                        $('#previewImg').show();
                    }else{
                        $('#image').val('');
                        $('#previewImg').attr('src', '');
                        $('#previewImg').hide();
                    }

                },
           error: function(jqXHR, textStatus, errorThrown){
            if (jqXHR.status == 400) {
                    var response = JSON.parse(jqXHR.responseText);
                    alert(response.message);}

  }
            });
        });


<!--PRODUCT VARIANT-->
        function addVariantRow() {
            const generateId = generateRandomString(11);

            const table = document.querySelector('table tbody');
            const newRow = `
				<tr>
					<td><input required type="text" class="form-control" name="variant_name[]"></td>
					<td><input required type="number" class="form-control" name="variant_quantity[]"></td>
					<td><input required type="text" class="form-control format-price" name="variant_price[]"></td>
					<td><input required type="text" class="form-control format-price" name="variant_discount_price[]"></td>
                    <td><input required type="text" class="form-control" name="variant_description[]"></td>
                    <td><div class="input-group mb-3">
                            <input required type="text" class="form-control" id="image_${generateId}" name="variant_image[]" value="">
                            <div class="input-group-append">
                                <label class="input-group-text btn btn-primary" for="image_file_${generateId}">Chọn file</label>
                                    <input type="file" class="form-control-file d-none" id="image_file_${generateId}" onchange="uploadImage('${generateId}')">
                            </div>
                        </div>
                        <img id="previewImg_${generateId}" class="img-fluid" alt="" style="width:100px;"src="">
                    </td>
                    <td><button type="button" class="btn btn-danger" onclick="deleteVariantRow(this)">Xóa</button></td>
				</tr>
			`;
            table.insertAdjacentHTML('beforeend', newRow);
            $(".format-price").priceFormat({
                limit: 15,
                prefix: '',
                centsLimit: 0
            });
        }

        function deleteVariantRow(button) {
            const row = button.closest('tr');
            row.remove();
        }

    </script>

</body>
</html>