.shop-page .position-left {
    flex-direction: row-reverse
}

.sidebar-banner {
    margin-top: 30px
}

.sidebar-banner.sidebar-without-banner {
    display: none
}

.sidebar-banner a.sidebar-img {
    position: relative
}

.sidebar-banner a.sidebar-img span {
    display: block
}

.sidebar-banner a.sidebar-img span.sidebar-banner-icon {
    color: var(--font-color-header);
    font-size: 32px;
    position: absolute;
    bottom: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 100%;
    line-height: 0
}

.sidebar-banner:hover a.sidebar-img span.sidebar-banner-icon {
    opacity: 1;
    visibility: visible
}

.sidebar-banner a.sidebar-img span.sidebar-banner-icon:hover {
    color: var(--font-color-primary)
}

.sidebar-banner a.sidebar-img span.sidebar-banner-icon,
.sidebar-banner a.sidebar-img span.sidebar-banner-icon:hover {
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

@media (max-width: 991px) {
    .sidebar-banner {
        display: none
    }
}

.collection-img-wrap h6 {
    font-size: 16px;
    position: relative;
    text-transform: capitalize;
    line-height: 1
}

.collection-img-wrap h6:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--font-color-primary)
}

.collection-img-wrap .collection-info,
.collection-img-wrap .collection-info .collection-description {
    margin-top: 30px
}

.empty-product {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px
}

.empty-product .product-icon-title span {
    display: block;
    font-size: 64px;
    line-height: 0
}

.empty-product .product-icon-title span i {
    display: block;
    line-height: 0
}

.empty-product .product-icon-title h2 {
    font-size: 30px;
    margin-top: 18px
}

.empty-product .product-desc {
    margin-top: 11px
}

.empty-product .product-desc p {
    font-size: 18px
}

.empty-product .product-desc p a {
    color: var(--font-color-header);
    border-bottom: 1px solid;
    opacity: .6;
    -webkit-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s
}

.empty-product .product-desc p a:hover {
    opacity: 1
}

.shop-sidebar-inner .filter-sidebar .close-filter-sidebar {
    display: none;
    color: var(--font-color-body);
    font-size: 16px;
    position: absolute;
    top: 15px;
    line-height: 0
}

.shop-sidebar-inner .filter-sidebar .close-filter-sidebar.close-filter-without {
    display: block
}

@media (max-width: 991px) {
    .shop-sidebar-inner .filter-sidebar .close-filter-sidebar {
        display: block
    }
}

.shop-sidebar-inner .filter-sidebar.filter-sidebar-without {
    padding: 30px 15px;
    position: fixed;
    top: 0;
    width: 320px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden
}

.shop-sidebar-inner .filter-sidebar.filter-sidebar-without.active {
    opacity: 1;
    visibility: visible
}

.shop-sidebar-inner .filter-sidebar.filter-sidebar-without,
.shop-sidebar-inner .filter-sidebar.filter-sidebar-without.active {
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

@media (max-width: 991px) {
    .shop-sidebar-inner .filter-sidebar {
        padding: 30px 15px;
        position: fixed;
        top: 0;
        width: 320px;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        z-index: 5;
        opacity: 0;
        visibility: hidden
    }

    .shop-sidebar-inner .filter-sidebar.active {
        opacity: 1;
        visibility: visible
    }

    .shop-sidebar-inner .filter-sidebar,
    .shop-sidebar-inner .filter-sidebar.active {
        -webkit-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s
    }
}

.shop-sidebar-inner .shop-sidebar.shop-collection {
    margin-bottom: 30px;
    padding: 0 0 30px;
    border-bottom: 1px solid #e2e2e2
}

.shop-sidebar-inner form .shop-sidebar {
    margin-top: 30px;
    padding: 30px 0 0;
    border-top: 1px solid #e2e2e2
}

.shop-sidebar-inner form .shop-sidebar:first-child {
    margin-top: 0;
    padding: 0;
    border-top: none
}

.shop-sidebar .title {
    font-size: 16px;
    position: relative;
    line-height: 1
}

.shop-sidebar .title:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--font-color-primary)
}

.shop-sidebar a.title {
    display: none
}

@media (max-width: 767px) {
    .shop-sidebar a.title {
        display: none;
        align-items: center;
        justify-content: space-between;
        position: relative;
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s
    }

    .shop-sidebar a.title[aria-expanded=false] {
        color: var(--font-color-header)
    }

    .shop-sidebar a.title[aria-expanded=true] {
        color: var(--font-color-primary)
    }

    .shop-sidebar a.title:after {
        color: #999;
        content: "\e61a";
        font-family: themify
    }

    .shop-sidebar a.title[aria-expanded=true]:after {
        content: "\e622";
        color: var(--font-color-primary)
    }
}

.shop-sidebar .facets-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    position: relative
}

.shop-sidebar .facets-header a {
    color: var(--font-color-body);
    border-bottom: 1px solid;
    opacity: .7
}

.shop-sidebar .facets-header a:hover {
    opacity: 1
}

.shop-sidebar .loading-spinner {
    display: none;
    width: 20px;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%)
}

.shop-sidebar .product-count-text.loading~.loading-spinner {
    display: block
}

.shop-sidebar-wrap svg.spinner {
    animation: rotator 1s linear infinite
}

@keyframes rotator {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(270deg)
    }
}

.shop-sidebar svg.spinner circle.path {
    stroke: var(--font-color-header);
    stroke-dashoffset: 0;
    stroke-dasharray: 280;
    transform-origin: center;
    animation: dash 1s ease-in-out infinite
}

@keyframes dash {
    0% {
        stroke-dashoffset: 280
    }

    50% {
        stroke-dashoffset: 75;
        transform: rotate(135deg)
    }

    to {
        stroke-dashoffset: 280;
        transform: rotate(450deg)
    }
}

.sidebar-filter ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.sidebar-filter ul li facet-remove:only-child {
    display: none
}

.sidebar-filter ul li facet-remove a {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--font-color-header);
    text-transform: capitalize;
    line-height: 1
}

.sidebar-filter ul li facet-remove a span {
    display: flex;
    align-items: center
}

.sidebar-filter ul li facet-remove a span i {
    font-size: 10px
}

.shop-sidebar .filter-element.collapse:not(.show) {
    display: block
}

.shop-sidebar .filter-element {
    margin-top: 30px
}

.shop-sidebar .filter-element ul.scrollbar {
    max-height: 273px;
    overflow-y: auto
}

.shop-sidebar .filter-element ul.scrollbar li {
    padding-top: 15px
}

.shop-sidebar .filter-element ul.scrollbar li:first-of-type {
    padding-top: 0
}

.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label {
    color: var(--font-color-body);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s
}

.shop-sidebar .filter-element ul.scrollbar li label.cust-checkbox-label {
    margin-bottom: 0
}

.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label span.filter-name {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.shop-sidebar .filter-element ul.scrollbar li input.cust-checkbox,
.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label input.cust-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label .cust-check {
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e2e2;
    overflow: hidden
}

.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label .cust-check:after {
    display: none;
    content: "\f25c";
    font-family: bootstrap-icons !important;
    color: var(--font-color-header);
    font-size: 16px
}

.shop-sidebar .filter-element ul.scrollbar li:hover .cust-checkbox-label .cust-check,
.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label input.cust-checkbox:checked~span.cust-check {
    box-shadow: inset 0 0 5px #00000026
}

.shop-sidebar .filter-element ul.scrollbar li:hover .cust-checkbox-label span.cust-check:after,
.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label input.cust-checkbox:checked~span.cust-check:after {
    display: block
}

.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label input.cust-checkbox[disabled]~span.filter-name,
.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label input.cust-checkbox[disabled]~span.count-check,
.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label input.cust-checkbox[disabled]~span.cust-check:after {
    opacity: .5
}

.shop-sidebar .filter-element ul.scrollbar li .cust-checkbox-label input.cust-checkbox[disabled]~span.cust-check {
    cursor: not-allowed
}

.shop-sidebar .filter-element .price-range {
    display: block
}

.shop-sidebar .filter-element .price-range .price-range-group {
    position: relative;
    margin-bottom: 30px
}

.shop-sidebar .filter-element .price-range .group-range {
    height: 2px;
    background: linear-gradient(to right, #e2e2e2 var(--range-min), var(--font-color-header) var(--range-min), var(--font-color-header) var(--range-max), #e2e2e2 var(--range-max))
}

.shop-sidebar .filter-element .price-range .range {
    width: 100%;
    padding: 0;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.shop-sidebar .filter-element .price-range .range::-webkit-slider-thumb {
    -webkit-appearance: none
}

.shop-sidebar .filter-element .price-range .range::-webkit-slider-thumb {
    height: 12px;
    width: 4px;
    background: var(--font-color-header);
    transform: translateY(-5px);
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--font-color-header);
    cursor: pointer
}

.shop-sidebar .filter-element .price-range .range::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: var(--font-color-header);
    cursor: pointer
}

.shop-sidebar .filter-element .price-range .range::-moz-range-thumb {
    height: 12px;
    width: 4px;
    background: var(--font-color-header);
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--font-color-header);
    cursor: pointer
}

.shop-sidebar .filter-element .price-range .range::-moz-range-progress,
.shop-sidebar .filter-element .price-range .range::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer
}

.shop-sidebar .filter-element .price-range .range::-moz-range-progress {
    background-color: var(--font-color-header)
}

.shop-sidebar .filter-element .price-range .range::-moz-range-track {
    background-color: #e2e2e2
}

.shop-sidebar .filter-element .price-range .group-range .range {
    height: 2px;
    pointer-events: none;
    vertical-align: top
}

.shop-sidebar .filter-element .price-range .group-range .range::-webkit-slider-runnable-track {
    background: none
}

.shop-sidebar .filter-element .price-range .group-range .range::-webkit-slider-thumb {
    pointer-events: auto
}

.shop-sidebar .filter-element .price-range .group-range .range::-moz-range-progress,
.shop-sidebar .filter-element .price-range .group-range .range::-moz-range-track {
    background: none
}

.shop-sidebar .filter-element .price-range .group-range .range::-moz-range-thumb {
    pointer-events: auto
}

.shop-sidebar .filter-element .price-range .group-range .range:last-child {
    position: absolute;
    top: 0
}

.shop-sidebar .filter-element .price-range .price-input-group {
    display: flex;
    align-items: center
}

.shop-sidebar .filter-element .price-range .price-input-group .price-range-input {
    flex: 1 0 0;
    min-width: 0
}

.shop-sidebar .filter-element .price-range .price-input-group .input-prefix {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    border: 1px solid #e2e2e2
}

.shop-sidebar .filter-element .price-range .price-input-group .input-prefix label.input-prefix-label {
    color: var(--font-color-body);
    font-size: 11px;
    position: absolute;
    top: 0px;
    transform: translateY(-100%);
    margin-bottom: 0;
    opacity: .7
}

.shop-sidebar .filter-element .price-range .price-input-group .input-prefix span.input-prefix-value {
    font-size: 13px
}

.shop-sidebar .filter-element .price-range .price-input-group .input-prefix .input-prefix-field {
    font-size: 13px;
    padding: 0;
    width: 100%;
    text-align: end;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.shop-sidebar .filter-element .price-range .price-input-group .input-prefix .input-prefix-field::-webkit-outer-spin-button,
.shop-sidebar .filter-element .price-range .price-input-group .input-prefix .input-prefix-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.shop-sidebar .filter-element .price-range .price-input-group .input-prefix input.input-prefix-field[type=number] {
    -moz-appearance: textfield
}

.shop-sidebar .filter-element .price-range .price-range-delimeter {
    color: var(--font-color-header);
    font-size: 16px;
    margin: 0 10px
}

.shop-sidebar.color .filter-element ul.scrollbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.shop-sidebar.color .filter-element ul.scrollbar li.color,
.shop-sidebar.color .filter-element ul.scrollbar li.color .cust-checkbox-label {
    padding: 0
}

.shop-sidebar.color .filter-element ul.scrollbar li.color .cust-checkbox-label span.filter-name,
.shop-sidebar.color .filter-element ul.scrollbar li.color .cust-checkbox-label span.count-check {
    display: none
}

.shop-sidebar.color .filter-element ul.scrollbar li.color .cust-checkbox-label span.cust-check {
    position: unset;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100%;
    box-shadow: inset 0 0 5px #00000026
}

.shop-sidebar.color .filter-element ul.scrollbar li.color .cust-checkbox-label.black span.cust-check:after {
    color: #fff
}

.shop-sidebar.material .filter-element ul.scrollbar li.material .cust-checkbox-label span.cust-check {
    background-color: #fff !important
}

.shop-top-bar {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e2e2
}

.shop-top-bar .product-filter {
    display: none
}

.shop-top-bar .product-filter.without-sidebar {
    display: block
}

.shop-top-bar .product-filter button {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 0
}

.shop-top-bar .product-filter button span {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1
}

@media (max-width: 991px) {
    .shop-top-bar .product-filter {
        display: block
    }
}

.shop-top-bar .product-view-mode {
    display: flex
}

.shop-top-bar .product-view-mode .list-change-view {
    display: block;
    font-size: 16px;
    opacity: .5;
    cursor: pointer;
    line-height: 0;
    -webkit-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s
}

.shop-top-bar .product-view-mode .list-change-view.active {
    opacity: 1
}

.shop-top-bar .product-view-mode .list-change-view i {
    display: block;
    line-height: 0
}

.product-short {
    display: flex;
    align-items: center;
    position: relative
}

.product-short label {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1
}

.product-short select {
    display: none;
    font-size: 13px;
    min-width: 200px;
    background-color: transparent;
    border: none
}

@media (max-width: 767px) {
    .product-short select {
        display: block
    }
}

@media (max-width: 479px) {
    .product-short {
        order: 1;
        width: 100%;
        margin-top: 30px
    }

    .product-short label {
        width: 85px
    }

    .product-short select {
        min-width: auto;
        width: 100%
    }
}

.product-short a.short-title {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.product-short a.short-title span.sort-title {
    display: block;
    font-size: 13px
}

.product-short a.short-title span.sort-icon {
    font-size: 12px;
    display: block;
    line-height: 0
}

.product-short a.short-title span.sort-icon i {
    display: block;
    line-height: 0
}

.product-short a.short-title span.sort-icon i:before {
    font-weight: 600 !important
}

.product-short a.short-title.short-title-lg {
    display: none
}

.product-short ul.collapse:not(.show) {
    display: block
}

.product-short ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 15px #00000026;
    border-radius: 5px;
    overflow: hidden
}

.product-short:hover ul {
    opacity: 1;
    visibility: visible
}

.product-short ul,
.product-short:hover ul {
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.product-short ul li a {
    display: block;
    font-size: 13px;
    padding: 7px 15px;
    background-color: #fff
}

.product-short ul li:hover a,
.product-short ul li.selected a {
    background-color: #f9f9f9
}

@media (max-width: 1199px) {
    .product-short a.short-title {
        display: none
    }

    .product-short a.short-title.short-title-lg {
        display: flex
    }

    .product-short ul.active {
        opacity: 1;
        visibility: visible
    }

    .product-short ul,
    .product-short:hover ul {
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s
    }

    .product-short ul.collapse:not(.show) {
        display: none
    }

    .product-short ul.collapse:not(.show).active {
        display: block
    }
}

@media (max-width: 767px) {

    .product-short a.short-title.short-title-lg,
    .product-short ul {
        display: none
    }
}

@media (max-width: 479px) {
    .product-short a.short-title {
        min-width: auto;
        width: 100%
    }
}
