.cust-checkbox-label.aliceblue .cust-check {
    background-color: #f0f8ff !important
}

.cust-checkbox-label.antiquewhite .cust-check {
    background-color: #faebd7 !important
}

.cust-checkbox-label.aqua .cust-check {
    background-color: #0ff !important
}

.cust-checkbox-label.aquamarine .cust-check {
    background-color: #7fffd4 !important
}

.cust-checkbox-label.azure .cust-check {
    background-color: azure !important
}

.cust-checkbox-label.beige .cust-check {
    background-color: beige !important
}

.cust-checkbox-label.bisque .cust-check {
    background-color: bisque !important
}

.cust-checkbox-label.black .cust-check {
    background-color: #333 !important
}

.cust-checkbox-label.blanchedalmond .cust-check {
    background-color: #ffebcd !important
}

.cust-checkbox-label.blue .cust-check {
    background-color: #2196f3 !important
}

.cust-checkbox-label.blueviolet .cust-check {
    background-color: #8a2be2 !important
}

.cust-checkbox-label.brown .cust-check {
    background-color: #795548 !important
}

.cust-checkbox-label.burlywood .cust-check {
    background-color: #deb887 !important
}

.cust-checkbox-label.cadetblue .cust-check {
    background-color: #5f9ea0 !important
}

.cust-checkbox-label.chartreuse .cust-check {
    background-color: #7fff00 !important
}

.cust-checkbox-label.chocolate .cust-check {
    background-color: #d2691e !important
}

.cust-checkbox-label.coral .cust-check {
    background-color: coral !important
}

.cust-checkbox-label.cornflowerblue .cust-check {
    background-color: #6495ed !important
}

.cust-checkbox-label.cornsilk .cust-check {
    background-color: #fff8dc !important
}

.cust-checkbox-label.crimson .cust-check {
    background-color: #dc143c !important
}

.cust-checkbox-label.cyan .cust-check {
    background-color: #00bcd4 !important
}

.cust-checkbox-label.darkblue .cust-check {
    background-color: #00008b !important
}

.cust-checkbox-label.darkcyan .cust-check {
    background-color: #008b8b !important
}

.cust-checkbox-label.darkgoldenrod .cust-check {
    background-color: #b8860b !important
}

.cust-checkbox-label.darkgray .cust-check,
.cust-checkbox-label.darkgrey .cust-check {
    background-color: #a9a9a9 !important
}

.cust-checkbox-label.darkgreen .cust-check {
    background-color: #006400 !important
}

.cust-checkbox-label.darkkhaki .cust-check {
    background-color: #bdb76b !important
}

.cust-checkbox-label.darkmagenta .cust-check {
    background-color: #8b008b !important
}

.cust-checkbox-label.darkolivegreen .cust-check {
    background-color: #556b2f !important
}

.cust-checkbox-label.darkorange .cust-check {
    background-color: #ff8c00 !important
}

.cust-checkbox-label.darkorchid .cust-check {
    background-color: #9932cc !important
}

.cust-checkbox-label.darkred .cust-check {
    background-color: #8b0000 !important
}

.cust-checkbox-label.darksalmon .cust-check {
    background-color: #e9967a !important
}

.cust-checkbox-label.darkseagreen .cust-check {
    background-color: #8fbc8f !important
}

.cust-checkbox-label.darkslateblue .cust-check {
    background-color: #483d8b !important
}

.cust-checkbox-label.darkslategray .cust-check,
.cust-checkbox-label.darkslategrey .cust-check {
    background-color: #2f4f4f !important
}

.cust-checkbox-label.darkturquoise .cust-check {
    background-color: #00ced1 !important
}

.cust-checkbox-label.darkviolet .cust-check {
    background-color: #9400d3 !important
}

.cust-checkbox-label.deeppink .cust-check {
    background-color: #ff1493 !important
}

.cust-checkbox-label.deepskyblue .cust-check {
    background-color: #00bfff !important
}

.cust-checkbox-label.dimgray .cust-check,
.cust-checkbox-label.dimgrey .cust-check {
    background-color: #696969 !important
}

.cust-checkbox-label.dodgerblue .cust-check {
    background-color: #1e90ff !important
}

.cust-checkbox-label.firebrick .cust-check {
    background-color: #b22222 !important
}

.cust-checkbox-label.floralwhite .cust-check {
    background-color: #fffaf0 !important
}

.cust-checkbox-label.forestgreen .cust-check {
    background-color: #228b22 !important
}

.cust-checkbox-label.fuchsia .cust-check {
    background-color: #f0f !important
}

.cust-checkbox-label.gainsboro .cust-check {
    background-color: #dcdcdc !important
}

.cust-checkbox-label.ghostwhite .cust-check {
    background-color: #f8f8ff !important
}

.cust-checkbox-label.gold .cust-check {
    background-color: gold !important
}

.cust-checkbox-label.goldenrod .cust-check {
    background-color: #daa520 !important
}

.cust-checkbox-label.gray .cust-check {
    background-color: #9e9e9e !important
}

.cust-checkbox-label.grey .cust-check {
    background-color: gray !important
}

.cust-checkbox-label.green .cust-check {
    background-color: #4caf50 !important
}

.cust-checkbox-label.greenyellow .cust-check {
    background-color: #adff2f !important
}

.cust-checkbox-label.honeydew .cust-check {
    background-color: #f0fff0 !important
}

.cust-checkbox-label.hotpink .cust-check {
    background-color: #ff69b4 !important
}

.cust-checkbox-label.indianred .cust-check {
    background-color: #cd5c5c !important
}

.cust-checkbox-label.indigo .cust-check {
    background-color: #3f51b5 !important
}

.cust-checkbox-label.ivory .cust-check {
    background-color: ivory !important
}

.cust-checkbox-label.khaki .cust-check {
    background-color: khaki !important
}

.cust-checkbox-label.lavender .cust-check {
    background-color: #e6e6fa !important
}

.cust-checkbox-label.lavenderblush .cust-check {
    background-color: #fff0f5 !important
}

.cust-checkbox-label.lawngreen .cust-check {
    background-color: #7cfc00 !important
}

.cust-checkbox-label.lemonchiffon .cust-check {
    background-color: #fffacd !important
}

.cust-checkbox-label.lightblue .cust-check {
    background-color: #add8e6 !important
}

.cust-checkbox-label.lightcoral .cust-check {
    background-color: #f08080 !important
}

.cust-checkbox-label.lightcyan .cust-check {
    background-color: #e0ffff !important
}

.cust-checkbox-label.lightgoldenrodyellow .cust-check {
    background-color: #fafad2 !important
}

.cust-checkbox-label.lightgray .cust-check,
.cust-checkbox-label.lightgrey .cust-check {
    background-color: #d3d3d3 !important
}

.cust-checkbox-label.lightgreen .cust-check {
    background-color: #8bc34a !important
}

.cust-checkbox-label.lightpink .cust-check {
    background-color: #ffb6c1 !important
}

.cust-checkbox-label.lightsalmon .cust-check {
    background-color: #ffa07a !important
}

.cust-checkbox-label.lightseagreen .cust-check {
    background-color: #20b2aa !important
}

.cust-checkbox-label.lightskyblue .cust-check {
    background-color: #87cefa !important
}

.cust-checkbox-label.lightslategray .cust-check,
.cust-checkbox-label.lightslategrey .cust-check {
    background-color: #789 !important
}

.cust-checkbox-label.lightsteelblue .cust-check {
    background-color: #b0c4de !important
}

.cust-checkbox-label.lightyellow .cust-check {
    background-color: #ffffe0 !important
}

.cust-checkbox-label.lime .cust-check {
    background-color: #cddc39 !important
}

.cust-checkbox-label.limegreen .cust-check {
    background-color: #32cd32 !important
}

.cust-checkbox-label.linen .cust-check {
    background-color: linen !important
}

.cust-checkbox-label.magenta .cust-check {
    background-color: #f0f !important
}

.cust-checkbox-label.maroon .cust-check {
    background-color: maroon !important
}

.cust-checkbox-label.mediumaquamarine .cust-check {
    background-color: #66cdaa !important
}

.cust-checkbox-label.mediumblue .cust-check {
    background-color: #0000cd !important
}

.cust-checkbox-label.mediumorchid .cust-check {
    background-color: #ba55d3 !important
}

.cust-checkbox-label.mediumpurple .cust-check {
    background-color: #9370db !important
}

.cust-checkbox-label.mediumseagreen .cust-check {
    background-color: #3cb371 !important
}

.cust-checkbox-label.mediumslateblue .cust-check {
    background-color: #7b68ee !important
}

.cust-checkbox-label.mediumspringgreen .cust-check {
    background-color: #00fa9a !important
}

.cust-checkbox-label.mediumturquoise .cust-check {
    background-color: #48d1cc !important
}

.cust-checkbox-label.mediumvioletred .cust-check {
    background-color: #c71585 !important
}

.cust-checkbox-label.midnightblue .cust-check {
    background-color: #191970 !important
}

.cust-checkbox-label.mintcream .cust-check {
    background-color: #f5fffa !important
}

.cust-checkbox-label.mistyrose .cust-check {
    background-color: #ffe4e1 !important
}

.cust-checkbox-label.moccasin .cust-check {
    background-color: #ffe4b5 !important
}

.cust-checkbox-label.navajowhite .cust-check {
    background-color: #ffdead !important
}

.cust-checkbox-label.navy .cust-check {
    background-color: navy !important
}

.cust-checkbox-label.oldlace .cust-check {
    background-color: #fdf5e6 !important
}

.cust-checkbox-label.olive .cust-check {
    background-color: olive !important
}

.cust-checkbox-label.olivedrab .cust-check {
    background-color: #6b8e23 !important
}

.cust-checkbox-label.orange .cust-check {
    background-color: #ff9800 !important
}

.cust-checkbox-label.orangered .cust-check {
    background-color: #ff4500 !important
}

.cust-checkbox-label.orchid .cust-check {
    background-color: orchid !important
}

.cust-checkbox-label.palegoldenrod .cust-check {
    background-color: #eee8aa !important
}

.cust-checkbox-label.palegreen .cust-check {
    background-color: #98fb98 !important
}

.cust-checkbox-label.paleturquoise .cust-check {
    background-color: #afeeee !important
}

.cust-checkbox-label.palevioletred .cust-check {
    background-color: #db7093 !important
}

.cust-checkbox-label.papayawhip .cust-check {
    background-color: #ffefd5 !important
}

.cust-checkbox-label.peachpuff .cust-check {
    background-color: #ffdab9 !important
}

.cust-checkbox-label.peru .cust-check {
    background-color: peru !important
}

.cust-checkbox-label.pink .cust-check {
    background-color: #f2bc9e !important
}

.cust-checkbox-label.plum .cust-check {
    background-color: plum !important
}

.cust-checkbox-label.powderblue .cust-check {
    background-color: #b0e0e6 !important
}

.cust-checkbox-label.purple .cust-check {
    background-color: #9c27b0 !important
}

.cust-checkbox-label.rebeccapurple .cust-check {
    background-color: #639 !important
}

.cust-checkbox-label.red .cust-check {
    background-color: #c00b1b !important
}

.cust-checkbox-label.rosybrown .cust-check {
    background-color: #bc8f8f !important
}

.cust-checkbox-label.royalblue .cust-check {
    background-color: #4169e1 !important
}

.cust-checkbox-label.saddlebrown .cust-check {
    background-color: #8b4513 !important
}

.cust-checkbox-label.salmon .cust-check {
    background-color: salmon !important
}

.cust-checkbox-label.sandybrown .cust-check {
    background-color: #f4a460 !important
}

.cust-checkbox-label.seagreen .cust-check {
    background-color: #2e8b57 !important
}

.cust-checkbox-label.seashell .cust-check {
    background-color: #fff5ee !important
}

.cust-checkbox-label.sienna .cust-check {
    background-color: sienna !important
}

.cust-checkbox-label.silver .cust-check {
    background-color: silver !important
}

.cust-checkbox-label.skyblue .cust-check {
    background-color: #87ceeb !important
}

.cust-checkbox-label.slateblue .cust-check {
    background-color: #6a5acd !important
}

.cust-checkbox-label.slategray .cust-check,
.cust-checkbox-label.slategrey .cust-check {
    background-color: #708090 !important
}

.cust-checkbox-label.snow .cust-check {
    background-color: snow !important
}

.cust-checkbox-label.springgreen .cust-check {
    background-color: #00ff7f !important
}

.cust-checkbox-label.steelblue .cust-check {
    background-color: #4682b4 !important
}

.cust-checkbox-label.tan .cust-check {
    background-color: tan !important
}

.cust-checkbox-label.teal .cust-check {
    background-color: #009688 !important
}

.cust-checkbox-label.thistle .cust-check {
    background-color: #d8bfd8 !important
}

.cust-checkbox-label.tomato .cust-check {
    background-color: tomato !important
}

.cust-checkbox-label.turquoise .cust-check {
    background-color: #40e0d0 !important
}

.cust-checkbox-label.violet .cust-check {
    background-color: violet !important
}

.cust-checkbox-label.wheat .cust-check {
    background-color: wheat !important
}

.cust-checkbox-label.white .cust-check:not([style]) {
    background-color: #e2e2e2 !important
}

.cust-checkbox-label.whitesmoke .cust-check {
    background-color: #f5f5f5 !important
}

.cust-checkbox-label.yellow .cust-check {
    background-color: #fdd835 !important
}

.cust-checkbox-label.yellowgree .cust-check {
    background-color: #9acd32 !important
}

.cust-checkbox-label.sin-a-mon .cust-check {
    background-color: #945959 !important
}

.cust-checkbox-label.bare-all .cust-check {
    background-color: #f0bdb3 !important
}

.cust-checkbox-label.blushing-beige .cust-check {
    background-color: #e38c80 !important
}

.cust-checkbox-label.nude-lust .cust-check {
    background-color: #d99494 !important
}

.cust-checkbox-label.maple-kiss .cust-check {
    background-color: #914236 !important
}

.cust-checkbox-label.truffle-tease .cust-check {
    background-color: #b5756e !important
}

.cust-checkbox-label.touchable-taupe .cust-check {
    background-color: #804240 !important
}

.cust-checkbox-label.stormy-sahara .cust-check {
    background-color: #d1665e !important
}

.cust-checkbox-label.untainted-spice .cust-check {
    background-color: #7c3030 !important
}

.cust-checkbox-label.espresso-exposed .cust-check {
    background-color: #540017 !important
}

.cust-checkbox-label.stripped-down .cust-check {
    background-color: #91686b !important
}

.cust-checkbox-label.never-bare .cust-check {
    background-color: #bb7b89 !important
}

.cust-checkbox-label.fight-me-fuchsia .cust-check {
    background-color: #9a1f5a !important
}

.cust-checkbox-label.orange-outburst .cust-check {
    background-color: #a7132a !important
}

.cust-checkbox-label.talk-back-red .cust-check {
    background-color: #981543 !important
}

.cust-checkbox-label.red-dy-or-not .cust-check {
    background-color: #880f2d !important
}

.cust-checkbox-label.berry-naughty .cust-check {
    background-color: #6f183f !important
}

.cust-checkbox-label.violet-rebel .cust-check {
    background-color: #763677 !important
}

.cust-checkbox-label.barely-bloomed .cust-check {
    background-color: #df9b83 !important
}

.cust-checkbox-label.blushing-bud .cust-check {
    background-color: #da847f !important
}

.cust-checkbox-label.petal-pink .cust-check {
    background-color: #ff92a0 !important
}

.cust-checkbox-label.hibiscus-pop .cust-check {
    background-color: #ff7b8f !important
}

.cust-checkbox-label.power-peony .cust-check {
    background-color: #de6d93 !important
}

.cust-checkbox-label.lilac-flush .cust-check {
    background-color: #cd87b1 !important
}

.cust-checkbox-label.orchid-ecstasy .cust-check {
    background-color: #822d67 !important
}

.cust-checkbox-label.rose-rush .cust-check {
    background-color: #c32f2e !important
}

.cust-checkbox-label.coral-burst .cust-check {
    background-color: #f55f4e !important
}

.cust-checkbox-label.peach-poppy .cust-check {
    background-color: #ff826f !important
}

.cust-checkbox-label.nude-thrill .cust-check {
    background-color: #c0968d !important
}

.cust-checkbox-label.wickedly-white .cust-check {
    background-color: #f1f1f2 !important
}

.cust-checkbox-label.gone-griege .cust-check {
    background-color: #856665 !important
}

.cust-checkbox-label.grey-over-it .cust-check {
    background-color: #6a5153 !important
}

.cust-checkbox-label.mauve-it .cust-check {
    background-color: #7e4b56 !important
}

.cust-checkbox-label.raging-raisin .cust-check {
    background-color: #71414b !important
}

.cust-checkbox-label.coffee-addiction .cust-check {
    background-color: #64434a !important
}

.cust-checkbox-label.chocoholic .cust-check {
    background-color: #68474e !important
}

.cust-checkbox-label.midnight-merlot .cust-check {
    background-color: #683b57 !important
}

.cust-checkbox-label.smoking-red .cust-check {
    background-color: #6b3842 !important
}

.cust-checkbox-label.dynamite-red .cust-check {
    background-color: #a61f38 !important
}

.cust-checkbox-label.orange-danger .cust-check {
    background-color: #c44e50 !important
}

.cust-checkbox-label.fiery-fuchsia .cust-check {
    background-color: #a83464 !important
}

.cust-checkbox-label.rebel-pink .cust-check {
    background-color: #942d73 !important
}

.cust-checkbox-label.berry-bossy .cust-check {
    background-color: #6d2d53 !important
}

.cust-checkbox-label.blackest-berry .cust-check {
    background-color: #5f3d51 !important
}

.cust-checkbox-label.violet-vixen .cust-check {
    background-color: #5d2c64 !important
}

.cust-checkbox-label.sapphire-siren .cust-check {
    background-color: #533e7d !important
}

.cust-checkbox-label.midnight-blue .cust-check {
    background-color: #354459 !important
}

.cust-checkbox-label.pitch-black .cust-check {
    background-color: #313335 !important
}

.cust-checkbox-label.nude-nuance .cust-check {
    background-color: #a45e59 !important
}

.cust-checkbox-label.burgundy-blush .cust-check {
    background-color: #5d2933 !important
}

.cust-checkbox-label.clay-crush .cust-check {
    background-color: #ba7165 !important
}

.cust-checkbox-label.rich-ruby .cust-check {
    background-color: #9d4846 !important
}

.cust-checkbox-label.electric-pink .cust-check {
    background-color: #f16ea4 !important
}

.cust-checkbox-label.blushing-pout .cust-check {
    background-color: #db97ac !important
}

.cust-checkbox-label.all-fired-up .cust-check {
    background-color: #f25358 !important
}

.cust-checkbox-label.vibrant-violet .cust-check {
    background-color: #8f59a1 !important
}

.cust-checkbox-label.pink-n-chic .cust-check {
    background-color: #ec7dbe !important
}

.cust-checkbox-label.pink-sugar .cust-check {
    background-color: #ff7c8a !important
}

.cust-checkbox-label.nude-embrace .cust-check {
    background-color: #d59b75 !important
}

.cust-checkbox-label.daringly-nude .cust-check {
    background-color: #ce8474 !important
}

.cust-checkbox-label.touch-of-spice .cust-check {
    background-color: #9c474c !important
}

.cust-checkbox-label.lust-for-blush .cust-check {
    background-color: #be6781 !important
}

.cust-checkbox-label.ravishing-rose .cust-check {
    background-color: #da5984 !important
}

.cust-checkbox-label.faint-for-fuchsia .cust-check {
    background-color: #fe5c9b !important
}

.cust-checkbox-label.mesmerizing-magenta .cust-check {
    background-color: #c92d67 !important
}

.cust-checkbox-label.craving-coral .cust-check {
    background-color: #ef4a23 !important
}

.cust-checkbox-label.siren-in-scarlet .cust-check {
    background-color: #b70003 !important
}

.cust-checkbox-label.divine-wine .cust-check {
    background-color: #771e27 !important
}

.cust-checkbox-label.beige-babe .cust-check {
    background-color: #bf8679 !important
}

.cust-checkbox-label.hot-sand .cust-check {
    background-color: #d8a490 !important
}

.cust-checkbox-label.purely-nude .cust-check {
    background-color: #c99185 !important
}

.cust-checkbox-label.peach-buff .cust-check {
    background-color: #c68988 !important
}

.cust-checkbox-label.honey-pink .cust-check {
    background-color: #c78586 !important
}

.cust-checkbox-label.almond-rose .cust-check {
    background-color: #d2807d !important
}

.cust-checkbox-label.toasted-truffle .cust-check {
    background-color: #914e49 !important
}

.cust-checkbox-label.naked-coral .cust-check {
    background-color: #ae5f59 !important
}

.cust-checkbox-label.raw-chocolate .cust-check {
    background-color: #a75f50 !important
}

.cust-checkbox-label.brown-blush .cust-check {
    background-color: #c68989 !important
}

.cust-checkbox-label.nude-thrill .cust-check {
    background-color: #aa746f !important
}

.cust-checkbox-label.nude-flush .cust-check {
    background-color: #b16c71 !important
}

.cust-checkbox-label.pink-charge .cust-check {
    background-color: #d35981 !important
}

.cust-checkbox-label.electric-pink .cust-check {
    background-color: #d8378b !important
}

.cust-checkbox-label.fuchsia-ecstasy .cust-check {
    background-color: #b21853 !important
}

.cust-checkbox-label.orange-shot .cust-check {
    background-color: #bc2732 !important
}

.cust-checkbox-label.rebel-red .cust-check {
    background-color: #b61c37 !important
}

.cust-checkbox-label.berry-boost .cust-check {
    background-color: #8a1842 !important
}

.cust-checkbox-label.vivid-violet .cust-check {
    background-color: #512670 !important
}

.cust-checkbox-label.possessed-plum .cust-check {
    background-color: #300a28 !important
}

.cust-checkbox-label.grey-envy .cust-check {
    background-color: #926a66 !important
}

.cust-checkbox-label.twisted-tulip .cust-check {
    background-color: #ad607f !important
}

.cust-checkbox-label.orange-obsession .cust-check {
    background-color: #e44c2b !important
}

.cust-checkbox-label.red-punch .cust-check {
    background-color: #722530 !important
}

.cust-checkbox-label.coffee-buzz .cust-check {
    background-color: #643431 !important
}

.cust-checkbox-label.smoky-rose .cust-check {
    background-color: #6f2d48 !important
}

.cust-checkbox-label.corrupt-cranberry .cust-check {
    background-color: #532236 !important
}

.cust-checkbox-label.orchid-shock .cust-check {
    background-color: #8b267b !important
}

.cust-checkbox-label.wicked-berry .cust-check {
    background-color: #322155 !important
}

.cust-checkbox-label.sinful-stone .cust-check {
    background-color: #616468 !important
}

.cust-checkbox-label.loyalist .cust-check {
    background-color: #bf9488 !important
}

.cust-checkbox-label.dreamer .cust-check {
    background-color: #c1818b !important
}

.cust-checkbox-label.lover .cust-check {
    background-color: #a65c6b !important
}

.cust-checkbox-label.pioneer .cust-check {
    background-color: #9e2530 !important
}

.cust-checkbox-label.heroine .cust-check {
    background-color: #df3c35 !important
}

.cust-checkbox-label.romantic .cust-check {
    background-color: #de4374 !important
}

.cust-checkbox-label.creator .cust-check {
    background-color: #ab4f97 !important
}

.cust-checkbox-label.believer .cust-check {
    background-color: #71324e !important
}

.cust-checkbox-label.escapist .cust-check {
    background-color: #431439 !important
}

.cust-checkbox-label.voyager .cust-check {
    background-color: #823939 !important
}

.cust-checkbox-label.silk-stone .cust-check {
    background-color: #af847d !important
}

.cust-checkbox-label.white-gold .cust-check {
    background-color: #bb8976 !important
}

.cust-checkbox-label.pure-gold .cust-check {
    background-color: #d9915e !important
}

.cust-checkbox-label.copper-spark .cust-check {
    background-color: #ab5845 !important
}

.cust-checkbox-label.hot-lava .cust-check {
    background-color: #93212d !important
}

.cust-checkbox-label.copper-rose .cust-check {
    background-color: #9d4a66 !important
}

.cust-checkbox-label.molten-bronze .cust-check {
    background-color: #855745 !important
}

.cust-checkbox-label.smoked-silver .cust-check {
    background-color: #94868f !important
}

.cust-checkbox-label.gunmetal .cust-check {
    background-color: #485865 !important
}

.cust-checkbox-label.serpentine .cust-check {
    background-color: #6b8e56 !important
}

.cust-checkbox-label.constant-cocoa .cust-check {
    background-color: #874452 !important
}

.cust-checkbox-label.everlasting-wine .cust-check {
    background-color: #912030 !important
}

.cust-checkbox-label.reliable-raspberry .cust-check {
    background-color: #bc3353 !important
}

.cust-checkbox-label.all-day-cherry .cust-check {
    background-color: #b22b40 !important
}

.cust-checkbox-label.continuous-coral .cust-check {
    background-color: #de5168 !important
}

.cust-checkbox-label.keep-up-the-flame .cust-check {
    background-color: #bd1f3e !important
}

.cust-checkbox-label.always-blazing .cust-check {
    background-color: #bb3d31 !important
}

.cust-checkbox-label.keep-it-red .cust-check {
    background-color: #ba1c58 !important
}

.cust-checkbox-label.committed-coral .cust-check {
    background-color: #df867a !important
}

.cust-checkbox-label.wear-on-wildberry .cust-check {
    background-color: #be5c76 !important
}

.cust-checkbox-label.unlimited-raisin .cust-check {
    background-color: #8c324f !important
}

.cust-checkbox-label.perpetual-plum .cust-check {
    background-color: #d06b85 !important
}

.cust-checkbox-label.wont-move-mauve .cust-check {
    background-color: #be6a74 !important
}

.cust-checkbox-label.constantly-cabernet .cust-check {
    background-color: #863358 !important
}

.cust-checkbox-label.on-and-on-orchid .cust-check {
    background-color: #a9416e !important
}

.cust-checkbox-label.berry-persistent .cust-check {
    background-color: #ab224f !important
}

.cust-checkbox-label.infinite-petal .cust-check {
    background-color: #cf7895 !important
}

.cust-checkbox-label.lasting-lilac .cust-check {
    background-color: #c43f96 !important
}

.cust-checkbox-label.timeless-rose .cust-check {
    background-color: #be5a80 !important
}

.cust-checkbox-label.never-ending-pearl .cust-check {
    background-color: #e397a6 !important
}

.cust-checkbox-label.very-cranberry .cust-check {
    background-color: #ca507b !important
}

.cust-checkbox-label.blush-on .cust-check {
    background-color: #f26896 !important
}

.cust-checkbox-label.so-pearly-pink .cust-check {
    background-color: #f7a1ac !important
}

.cust-checkbox-label.forever-chestnut .cust-check {
    background-color: #ae5c61 !important
}

.cust-checkbox-label.always-heather .cust-check {
    background-color: #a85051 !important
}

.cust-checkbox-label.so-sienna .cust-check {
    background-color: #a94b5f !important
}

.cust-checkbox-label.sienna-ever-after .cust-check {
    background-color: #a15c60 !important
}

.cust-checkbox-label.constant-toast .cust-check {
    background-color: #d49690 !important
}

.cust-checkbox-label.more-more-mocha .cust-check {
    background-color: #b16b5e !important
}

.cust-checkbox-label.timeless-toffee .cust-check {
    background-color: #e09392 !important
}

.cust-checkbox-label.eternal-cherry .cust-check {
    background-color: #b12837 !important
}

.cust-checkbox-label.steady-red-y .cust-check {
    background-color: #de4048 !important
}

.cust-checkbox-label.non-stop-orange .cust-check {
    background-color: #e35039 !important
}

.cust-checkbox-label.pink-goes-on .cust-check {
    background-color: #da507b !important
}

.cust-checkbox-label.all-day-plum .cust-check {
    background-color: #642d5f !important
}

.cust-checkbox-label.nude-illusion .cust-check {
    background-color: #e68a7e !important
}

.cust-checkbox-label.celestial-coral .cust-check {
    background-color: #de4358 !important
}

.cust-checkbox-label.signature-scarlet .cust-check {
    background-color: #b3001e !important
}

.cust-checkbox-label.mauve-mystique .cust-check {
    background-color: #934856 !important
}

.cust-checkbox-label.vision-in-violet .cust-check {
    background-color: #822198 !important
}

.cust-checkbox-label.caviar-couture .cust-check {
    background-color: #6a3955 !important
}

.cust-checkbox-label.caramel-infused .cust-check {
    background-color: #c57067 !important
}

.cust-checkbox-label.fuchsia-flourish .cust-check {
    background-color: #e8436c !important
}

.cust-checkbox-label.blush-essence .cust-check {
    background-color: #e66dae !important
}

.cust-checkbox-label.petal-plush .cust-check {
    background-color: #f788a1 !important
}

.cust-checkbox-label.shocking-coral .cust-check {
    background-color: #ff2837 !important
}

.cust-checkbox-label.pink-pop .cust-check {
    background-color: #ff6dbc !important
}

.cust-checkbox-label.fuchsia-flash .cust-check {
    background-color: #fa207c !important
}

.cust-checkbox-label.vivid-rose .cust-check {
    background-color: #ff0062 !important
}

.cust-checkbox-label.electric-orange .cust-check {
    background-color: #ff4606 !important
}

.cust-checkbox-label.on-fire-red .cust-check {
    background-color: #c8000a !important
}

.cust-checkbox-label.brazen-berry .cust-check {
    background-color: #981a8d !important
}

.cust-checkbox-label.totally-toffee .cust-check {
    background-color: #c5795c !important
}

.cust-checkbox-label.pink-sand .cust-check {
    background-color: #fbcfcb !important
}

.cust-checkbox-label.born-with-it .cust-check {
    background-color: #df8a82 !important
}

.cust-checkbox-label.sugar-chic .cust-check {
    background-color: #d77498 !important
}

.cust-checkbox-label.pink-proper .cust-check {
    background-color: #fa6c98 !important
}

.cust-checkbox-label.pink-peony .cust-check {
    background-color: #f27077 !important
}

.cust-checkbox-label.pink-me-up .cust-check {
    background-color: #ff043b !important
}

.cust-checkbox-label.pinkalicious .cust-check {
    background-color: #ef5976 !important
}

.cust-checkbox-label.hooked-on-pink .cust-check {
    background-color: #e02347 !important
}

.cust-checkbox-label.let-me-pink .cust-check {
    background-color: #d23f51 !important
}

.cust-checkbox-label.pink-wink .cust-check {
    background-color: #e28695 !important
}

.cust-checkbox-label.pink-quartz .cust-check {
    background-color: #d78d99 !important
}

.cust-checkbox-label.pink-satin .cust-check {
    background-color: #ec6369 !important
}

.cust-checkbox-label.make-me-pink .cust-check {
    background-color: #d26b7e !important
}

.cust-checkbox-label.fuchsia-fever .cust-check {
    background-color: #ff1cb4 !important
}

.cust-checkbox-label.party-pink .cust-check {
    background-color: #c74a69 !important
}

.cust-checkbox-label.bit-of-berry .cust-check {
    background-color: #b21e52 !important
}

.cust-checkbox-label.nearly-there .cust-check {
    background-color: #d68671 !important
}

.cust-checkbox-label.warm-me-up .cust-check {
    background-color: #ca6e6b !important
}

.cust-checkbox-label.barely-brown .cust-check {
    background-color: #b37663 !important
}

.cust-checkbox-label.crazy-for-coffee .cust-check {
    background-color: #8f332c !important
}

.cust-checkbox-label.rum-riche .cust-check {
    background-color: #9b4d57 !important
}

.cust-checkbox-label.bronzed .cust-check {
    background-color: #bd7e6a !important
}

.cust-checkbox-label.warm-latte .cust-check {
    background-color: #b96f57 !important
}

.cust-checkbox-label.pretty-in-plum .cust-check {
    background-color: #844678 !important
}

.cust-checkbox-label.blissful-berry .cust-check {
    background-color: #5c003d !important
}

.cust-checkbox-label.deepest-cherry .cust-check {
    background-color: #390008 !important
}

.cust-checkbox-label.plum-paradise .cust-check {
    background-color: #be4d60 !important
}

.cust-checkbox-label.plum-perfect .cust-check {
    background-color: #9e012e !important
}

.cust-checkbox-label.on-the-mauve .cust-check {
    background-color: #c5727b !important
}

.cust-checkbox-label.romantic-rose .cust-check {
    background-color: #9f7a85 !important
}

.cust-checkbox-label.coral-crush .cust-check {
    background-color: #f15b50 !important
}

.cust-checkbox-label.peachy-scene .cust-check {
    background-color: #fe5f4d !important
}

.cust-checkbox-label.summer-sunset .cust-check {
    background-color: #f0142a !important
}

.cust-checkbox-label.are-you-red-dy .cust-check {
    background-color: #e70c2f !important
}

.cust-checkbox-label.red-revolution .cust-check {
    background-color: #d4003e !important
}

.cust-checkbox-label.very-cherry .cust-check {
    background-color: #e82234 !important
}

.cust-checkbox-label.ruby-star .cust-check {
    background-color: #de0f00 !important
}

.cust-checkbox-label.red-revival .cust-check {
    background-color: #be1919 !important
}

.cust-checkbox-label.orange-ya-glad .cust-check {
    background-color: #ff744f !important
}

.cust-checkbox-label.pink-insanity .cust-check {
    background-color: #ff9fed !important
}

.cust-checkbox-label.fast-fuchsia .cust-check {
    background-color: #ff8ba5 !important
}

.cust-checkbox-label.berry-misbehaved .cust-check {
    background-color: #e25875 !important
}

.cust-checkbox-label.cherry-cherry-bang-bang .cust-check {
    background-color: #cc313d !important
}

.cust-checkbox-label.partner-in-crimson .cust-check {
    background-color: #b82840 !important
}

.cust-checkbox-label.my-my-magenta .cust-check {
    background-color: #b05376 !important
}

.cust-checkbox-label.im-blushing .cust-check {
    background-color: #de7699 !important
}

.cust-checkbox-label.ilike-to-mauve-it .cust-check {
    background-color: #e48ab0 !important
}

.cust-checkbox-label.keep-me-coral .cust-check {
    background-color: #d16b72 !important
}

.cust-checkbox-label.ravishing-rouge .cust-check {
    background-color: #c80f3f !important
}

.cust-checkbox-label.infinite-iris .cust-check {
    background-color: #ba4e6d !important
}

.cust-checkbox-label.till-mauve-do-us-part .cust-check {
    background-color: #a05d61 !important
}

.cust-checkbox-label.please-stay-plum .cust-check {
    background-color: #a75267 !important
}

.cust-checkbox-label.plumplease .cust-check {
    background-color: #864858 !important
}

.cust-checkbox-label.i-like-to-mauve-it .cust-check {
    background-color: #e48ab0 !important
}

.cust-checkbox-label.plum-please .cust-check {
    background-color: #864858 !important
}

.cust-checkbox-label.neutral-statement .cust-check {
    background-color: #ebbfbf !important
}

.cust-checkbox-label.go-nude .cust-check {
    background-color: #eddaca !important
}

.cust-checkbox-label.better-in-buff .cust-check {
    background-color: #a87a73 !important
}

.cust-checkbox-label.dust-of-bronze .cust-check {
    background-color: #735957 !important
}

.cust-checkbox-label.taupe-on-trend .cust-check {
    background-color: #5c4949 !important
}

.cust-checkbox-label.pink-embrace .cust-check {
    background-color: #ffb2cc !important
}

.cust-checkbox-label.pink-proper .cust-check {
    background-color: #e68ca6 !important
}

.cust-checkbox-label.punk-rock-pink .cust-check {
    background-color: #fc66bf !important
}

.cust-checkbox-label.hibiscus-haven .cust-check {
    background-color: #ff66a6 !important
}

.cust-checkbox-label.rose-rapture .cust-check {
    background-color: #e64995 !important
}

.cust-checkbox-label.an-old-flame .cust-check {
    background-color: #e60000 !important
}

.cust-checkbox-label.born-with-it .cust-check {
    background-color: #fed0df !important
}

.cust-checkbox-label.rich-in-ruby .cust-check {
    background-color: #8a0032 !important
}

.cust-checkbox-label.lust-for-lilac .cust-check {
    background-color: #e693e6 !important
}

.cust-checkbox-label.pinkalicious .cust-check {
    background-color: #ef59b1 !important
}

.cust-checkbox-label.deep-in-violet .cust-check {
    background-color: #22053a !important
}

.cust-checkbox-label.coral-crush .cust-check {
    background-color: #ff758b !important
}

.cust-checkbox-label.mauve-in-manhattan .cust-check {
    background-color: #6f394b !important
}

.cust-checkbox-label.pink-shock .cust-check {
    background-color: #ff0097 !important
}

.cust-checkbox-label.petal-plush .cust-check {
    background-color: #b85073 !important
}

.cust-checkbox-label.wine-and-forever .cust-check {
    background-color: #580036 !important
}

.cust-checkbox-label.keep-up-the-flame .cust-check {
    background-color: #e3002a !important
}

.cust-checkbox-label.paint-the-town .cust-check {
    background-color: #b40017 !important
}

.cust-checkbox-label.fuchsia-fever .cust-check {
    background-color: #9a35a7 !important
}

.cust-checkbox-label.green-with-envy .cust-check {
    background-color: #c6f7e9 !important
}

.cust-checkbox-label.blue-bombshell .cust-check {
    background-color: #0030a6 !important
}

.cust-checkbox-label.shocking-seas .cust-check {
    background-color: #009df3 !important
}

.cust-checkbox-label.porcelain-party .cust-check {
    background-color: #f8f5f4 !important
}

.cust-checkbox-label.impeccable-greys .cust-check {
    background-color: #575f6d !important
}

.cust-checkbox-label.onyx-rush .cust-check {
    background-color: #000 !important
}

.cust-checkbox-label.clear .cust-check {
    background-color: #fff !important
}

.cust-checkbox-label.dusty-pink .cust-check {
    background-color: #dbbebb !important
}

.cust-checkbox-label.taupe .cust-check {
    background-color: #4b4533 !important
}

.cust-checkbox-label.bark .cust-check {
    background-color: #ad4e22 !important
}

.cust-checkbox-label.shell .cust-check {
    background-color: #efe5e3 !important
}

.cust-checkbox-label.sliver .cust-check {
    background-color: #f1f1f1 !important
}

.cust-checkbox-label.equator .cust-check {
    background-color: #e0b756 !important
}

.cust-checkbox-label.flint .cust-check {
    background-color: #6f6963 !important
}

.cust-checkbox-label.mercury .cust-check {
    background-color: #e8e8e8 !important
}

.cust-checkbox-label.abbey .cust-check {
    background-color: #4f4f51 !important
}

.cust-checkbox-label.neptune .cust-check {
    background-color: #6ca6b7 !important
}

.cust-checkbox-label.quicksand .cust-check {
    background-color: #bb9290 !important
}

.cust-checkbox-label.pigeon-post .cust-check {
    background-color: #a2c4d4 !important
}

.cust-checkbox-label.mine-shaft .cust-check {
    background-color: #333 !important
}

.cust-checkbox-label.juniper .cust-check {
    background-color: #68948d !important
}

.cust-checkbox-label.alizarin-crimson .cust-check {
    background-color: #e32323 !important
}

.cust-checkbox-label.bali-hai .cust-check {
    background-color: #86aab0 !important
}

.cust-checkbox-label.aths-special .cust-check {
    background-color: #efe4d7 !important
}

.cust-checkbox-label.brandy-rose .cust-check {
    background-color: #ba957d !important
}

.cust-checkbox-label.celeste .cust-check {
    background-color: #cdd1c6 !important
}

.cust-checkbox-label.dove-gray .cust-check {
    background-color: #666 !important
}

.cust-checkbox-label.juniper .cust-check {
    background-color: #719297 !important
}

.cust-checkbox-label.emperor .cust-check {
    background-color: #575555 !important
}

.cust-checkbox-label.eagle .cust-check {
    background-color: #b3b8a8 !important
}

.cust-checkbox-label.nebula .cust-check {
    background-color: #cedbd8 !important
}

.cust-checkbox-label.gallery .cust-check {
    background-color: #ebebeb !important
}

.cust-checkbox-label.malibu .cust-check {
    background-color: #7dc8f7 !important
}

.cust-checkbox-label.vivid-tangerine .cust-check {
    background-color: #ff887f !important
}

.cust-checkbox-label.danube .cust-check {
    background-color: #69c !important
}

.cust-checkbox-label.sidecar .cust-check {
    background-color: #f3dbc1 !important
}

.cust-checkbox-label.athens-gray .cust-check {
    background-color: #eaeaec !important
}

.cust-checkbox-label.apricot .cust-check {
    background-color: #ef837b !important
}

.cust-checkbox-label.antique-brass .cust-check {
    background-color: #c96 !important
}

.cust-checkbox-label.seagull .cust-check {
    background-color: #7fc5ed !important
}

.cust-checkbox-label.blue-haze .cust-check {
    background-color: #daccde !important
}

.cust-checkbox-label.rob-roy .cust-check {
    background-color: #e8c97a !important
}

.cust-checkbox-label.danube .cust-check {
    background-color: #72a6d8 !important
}

.cust-checkbox-label.brown-rust .cust-check {
    background-color: #b87145 !important
}

.cust-checkbox-label.tobacco-brown .cust-check {
    background-color: #6b5f3f !important
}

.cust-checkbox-label.soya-bean .cust-check {
    background-color: #5f554b !important
}

.cust-checkbox-label.shadow .cust-check,
.cust-checkbox-label.driftwood .cust-check {
    background-color: #806f55 !important
}

.cust-checkbox-label.chestnut-rose .cust-check {
    background-color: #c66 !important
}

.cust-checkbox-label.periwinkle .cust-check {
    background-color: #ccf !important
}

.cust-checkbox-label.golden-tainoi .cust-check {
    background-color: #ffca51 !important
}

.cust-checkbox-label.old-rose .cust-check {
    background-color: #bb8379 !important
}

.cust-checkbox-label.russett .cust-check {
    background-color: #78645f !important
}

.cust-checkbox-label.mongoose .cust-check {
    background-color: #b89474 !important
}

.cust-checkbox-label.hampton .cust-check {
    background-color: #e5dcb1 !important
}

.cust-checkbox-label.jungle-mist .cust-check {
    background-color: #bacbd8 !important
}

.cust-checkbox-label.green-smoke .cust-check {
    background-color: #9fac76 !important
}

.cust-checkbox-label.muddy-waters .cust-check {
    background-color: #b58555 !important
}

.cust-checkbox-label.gull-gray .cust-check {
    background-color: #93a6b0 !important
}

.cust-checkbox-label.sand-dune .cust-check {
    background-color: #877666 !important
}

.cust-checkbox-label.westar .cust-check {
    background-color: #dddad5 !important
}

.cust-checkbox-label.spicy-mix .cust-check {
    background-color: #825a45 !important
}

.cust-checkbox-label.shadow .cust-check {
    background-color: #917f4d !important
}

.cust-checkbox-label.fuzzy-wuzzy-brown .cust-check {
    background-color: #c55858 !important
}

.cust-checkbox-label.sepia-skin .cust-check {
    background-color: #99523e !important
}

.cust-checkbox-label.sandy-brown .cust-check {
    background-color: #f3815f !important
}

.cust-checkbox-label.brick-red .cust-check {
    background-color: #c12f46 !important
}

.cust-checkbox-label.link-water .cust-check {
    background-color: #d3def0 !important
}

.cust-checkbox-label.waikawa-gray .cust-check {
    background-color: #5a7399 !important
}

.cust-checkbox-label.japonica .cust-check {
    background-color: #db7e6c !important
}

.cust-checkbox-label.dark-dusky-green .cust-check {
    background-color: #666d71 !important
}

.cust-checkbox-label.dark-gray-melange .cust-check {
    background-color: #555 !important
}

.cust-checkbox-label.beige-melange .cust-check {
    background-color: #dccfc6 !important
}
